<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1> This is <%= profile.name %>'s Profile </h1>

<h1> It's <%= isSelf ? 'your' : profile.name %> list</h1>

  <h2>Add a climb that you've completed!</h2>

  <table id="climb-table">
    <tbody>
      <% profile.myClimbs.forEach(climb => { %>
        <tr>
          <td><%= climb.name %></td>
          <td><%= climb.grade %></td>
        </tr>
      <% }) %> 
    </tbody>
  </table>


<%- include('../partials/footer') %>