<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1> This is <%= profile.name %>'s Profile </h1>

  <h2>Climbs that <%= profile.name %>'s completed!</h2>

  <table id="climb-table">
    <tbody>
      <% profile.myClimbs.forEach(climb => { %>
        <tr>
          <td><%= climb.name %></td>
          <td><%= climb.grade %></td>
          <td>
          <% if (isSelf) { %>
          <form action="/profiles/<%= user.profile._id %>/deleteClimb/<%= climb._id %>?_method=DELETE" method="POST">
            <button class="btn" type="submit">Delete Climb</button>
          </form>
          <% } %>
        </td> 
        </tr>
        <div>
      </div>
      <% }) %> 
    </tbody>
  </table>

<h2>Partners that <%= profile.name %>'s climbed with!</h2>

<table id="climb-table">
  <tbody>
    <% profile.myPartners.forEach(partner => { %>
      <tr>
        <td> 
          <div class="card">
          <img 
            src="<%= partner.avatar %>" 
            alt="<%= partner.name %>'s avatar"
          >
        </td>
        <td> 
          <div class="card-body">
            <h1 class="card-title"><%= partner.name %></h1>
          </div>
        </td>
        <td>
        <div>
          <% if (isSelf) { %> 
          <form action="/profiles/<%= user.profile._id %>/deletePartner/<%= partner._id %>?_method=DELETE" method="POST">
            <button class="btn" type="submit">Delete Partner</button>
          </form>
          <% } %> 
        </div>
        </td>
        </tr>
      </div>
    <% }) %> 
  </tbody>
</table>

<table id="gearSkills-table">
  <tbody>
  <% if (profile.myGearSkills?.length) { %>    
    <ul>
      <% profile.myGearSkills.forEach(myGearSkill => { %>
      <td>
        <tr>
          Lead on Ice is: <%= myGearSkill.leadOnIce ? 'yes' : 'no' %>
            
          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
            <% } %>
        </tr>
      </td>
      <br>
      <td>
        <tr>
          Lead on Rock is: <%= myGearSkill.leadOnRock ? 'yes' : 'no' %>

            <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
            <% } %> 

        </tr>
      </td>
      <br>
        <td>
          <tr>
          Clean on Ice is: <%= myGearSkill.cleanOnIce ? 'yes' : 'no' %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
            <% } %>

          </tr>
        </td>
        <br>
        <td>
          <tr>
          Clean on Rock is: <%= myGearSkill.cleanOnRock ? 'yes' : 'no' %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
            <% } %>

          </tr>
        </td>
        <br>
        <td>
          <tr>
          Top Rope Ice is: <%= myGearSkill.topRopeIce ? 'yes' : 'no' %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
            <% } %>

          </tr>
        </td>
        <br>
        <td>
          <tr>
          Top Rope Rock is: <%= myGearSkill.topRopeRock ? 'yes' : 'no' %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
            <% } %>

          </tr>
        </td>
        <br>
        <td>
          <tr>
          Own a full ice rack?: <%= myGearSkill.fullIceRack ? 'yes' : 'no' %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
          <% } %>

          </tr>
        </td>
        <br>
        <td>
          <tr>
          What's in my ice rack: <%= myGearSkill.iceRack %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
          <% } %>

          </tr>
        </td>
        <br>
        <td>
          <tr>
          Own a full rock rack?: <%= myGearSkill.fullRockRack ? 'yes' : 'no' %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
          <% } %>

          </tr>
        </td>
        <br>
        <td>
          <tr>
          What's in my rock rack: <%= myGearSkill.rockRack %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
          <% } %>

          </tr>
        </td>
        <br>
        <td>
          <tr>
          Own a 60m dry rope?: <%= myGearSkill.dryRope60m ? 'yes' : 'no' %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
          <% } %>

          </tr>
        </td>
        <br>
        <td>
          <tr>
          Own a 70m dry rope?: <%= myGearSkill.dryRope70m ? 'yes' : 'no' %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
          <% } %>

          </tr>
        </td>
        <br>
        <td>
          <tr>
          Own half ropes?: <%= myGearSkill.halfRopes ? 'yes' : 'no' %>

          <% if (isSelf) { %> 
            <form action="/profiles/<%= user.profile._id %>/deleteGearSkill/<%= myGearSkill._id %>?_method=DELETE" method="POST">
              <button class="btn" type="submit">Delete Gear or Skill</button>
            </form>
          <% } %>

          </tr>
        </td>
      <% }) %>
  <% } %> 
  </tbody>
</table>



<%- include('../partials/footer') %>