<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <h1> This is Amanda's Profile </h1>

    <h1> It's <%= isSelf ? 'your' : profile.name %> list</h1>

    <% if (isSelf) { %>
      <h2>Add a climb that you've completed!</h2>

      <form id="add-mtn-to-my-list" action="/profiles/<%= profile._id %>/myclimbs" method="POST">
        <select name="myMtn">

        </select>

        <button type="submit">Add Climb</button>
      </form>

      <% } %>


        <%- include('../partials/footer') %>