<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1> This is <%= profile.name %>'s Profile </h1>

<h1> It's <%= isSelf ? 'your' : profile.name %> list</h1>

  <h2>Climbs that you've completed!</h2>

  <table id="climb-table">
    <tbody>
      <% profile.myClimbs.forEach(climb => { %>
        <tr>
          <td><%= climb.name %></td>
          <td><%= climb.grade %></td>
        </tr>
      <% }) %> 
    </tbody>
  </table>


  <h2>Partners that you've climbed with!</h2>

<table id="climb-table">
  <tbody>
    <% profile.myPartners.forEach(partner => { %>
      <div class="card">
        <img 
          src="<%= partner.avatar %>" 
          alt="<%= partner.name %>'s avatar"
        >
        <div class="card-body">
          <h1 class="card-title"><%= partner.name %></h1>
        </div>
      </div>
    <% }) %> 
  </tbody>
</table>

<%- include('../partials/footer') %>