<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

<h1> This is the mountains index page (shows all mountains) </h1>

<form id="add-mtn-to-list" action="/mtns" method="POST">
  <select name="mountain" id="mountain-select">
  <% mtns.forEach(mtn => { %>
    <option><%= mtn.name %></option>
  <% }) %>
  </select>
  <button type="submit">Add Mountain to My List</button>
</form>

<table id="mtn-table">
  <tbody>
    <% mtns.forEach(mtn => { %>
      <tr>
        <td><%= mtn.name %></td>
        <td><%= mtn.elevation %></td>
        <td><%= mtn.date %> </td>
      </tr>
    <% }) %> 
  </tbody>
</table>



<%- include('../partials/footer') %>