<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div id="title-div">
    <h1>New England Rock & Ice</h1>
    <div id="index-img-div">
      <img src="/media/images/ice1.jpg" alt="ice-climber">
    </div>
  </div>
  <div id="welcome-name">
  <% if (user?.profile.avatar) { %>
    <div id="welcome">
      <h2>Welcome back, <%= user.profile.name %></h2>
    </div>
    <div id="go-to-profile">
      <a href="/profiles/<%= user.profile._id %>">Go To Your Profile</a>
    </div>
  <% } %>
</div>
</main>

<%- include('./partials/footer') %>
