<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

<h1> This is the ice climbs index page (shows all climbs) </h1>

<table id="climb-table">
  <tbody>
    <% climbs.forEach(climb => { %>
      <tr>
        <td><%= climb.name %></td>
        <td><%= climb.grade %></td>
        <td><%= climb.location %></td>
        <td id="climbDetails"><a href="/climbs/<%= climb._id %>">Details</a></td>
        <form action="/profiles/:id" method="POST" name="addToList">
        <td><button type="submit">Add to Your List</button></td>
        </form>
      </tr>
    <% }) %> 
  </tbody>
</table>



<%- include('../partials/footer') %>