<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/climbs/index.css" />
<%- include('../partials/nav') %>

<main>
  <div id="ice-tools-logo">
    <img src="/media/images/IceToolsLogo1.png" alt="ice-tools-logo">
  </div>
<div id="title-div">
  <h1>This Season's Climbs</h1>
</div>
<table id="climb-table">
  <tbody>
    <% climbs.forEach(climb => { %>
      <tr>
        <td><%= climb.name %></td>
        <td><%= climb.grade %></td>
        <td><%= climb.location %></td>
        <td id="climbDetails"><a href="/climbs/<%= climb._id %>">Details</a></td>

        <form action="/profiles/<%= user.profile._id %>/addClimb?_method=PATCH" method="POST" name="addClimbToList">
          <input type="text" name="id" hidden value="<%= climb._id %>">
        <td><button type="submit">Add Climb</button></td>
        </form>
      </tr>
    <% }) %> 
  </tbody>
</table>



<%- include('../partials/footer') %>