<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/climbs/index.css" />
<%- include('../partials/nav2') %>

<main>
<div id="all-div2">
  <div id="title-div2">
    <h1> Add a Climb </h1>
  </div>
  <div id="add-mtn">
    <br>
  <div id="select-climb">
    <select placeholder="Dodge's Drop">
    <% climbs.forEach(climb => { %>
      <option> <%= climb.name %> </option>
    <% }) %>
    </select>
  </div>
  <div id="add-climb-all">
    <div id="add-climb">
      <h2>Not seeing your climb in the drop-down? Add it to the list here!</h2>
    </div>
    <div id="add-climb-div">
    <form id="add-climb-to-dropdown-form" action="/climbs" method="POST">
      <label for="climb-name">Name:</label>
      <input type="text" name="name" id="name-input">
      <br>
      <label for="climb-name">Location:</label>
      <input type="text" name="location" id="location-input">
      <br>
      <label for="climb-elevation">Elevation:</label>
      <input type="text" name="elevation" id="climb-elevation">
      <br>
      <label for="climb-grade">Grade:</label>
      <input type="text" name="grade" id="climb-grade">
      <br>
      <label for="climb-date">Date:</label>
      <input type="datetime-local" name="date" id="climb-date" value="<%= dateClimbed %>">
      <button id="add-climb-btn" type="submit">Add New Climb</button>
    </div>
    </form>
  </div>
</div>
</div>
</main>


    <%- include("../partials/footer") %>