<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/climbs/index.css" />
<%- include('../partials/nav2') %>

<h1> This is the details page for each climb </h1>

<section id="climbDetail">
  <div>Climb: <%= climb.name %></div>
  <div>Grade: <%= climb.grade %></div>
  <div>Location: <%= climb.location %></div>
  <div>Date Climbed: <%= climb.date.toDateString() %></div>
  <div id="review-div">
    <form 
    action="/climbs/<%= climb._id %>/reviews"
    method = "POST"
    >
    <div id="add-review-div">
      <label for="review-box">Your Review:</label>
      <input name="content" type="text">
      <button type="submit" id="add-review-btn">Add Review</button>
    </div>
    </form>
  </div>
  
  <% if (climb.reviews.length) { %>
    <table id="climb-reviews">
      <% climb.reviews.forEach(review => { %>
          <tr>
            <%= review.content %>
            <br>
            <%= review.reviewer.name %>
            <br> 
          </tr>
          <br>
          <% if (user.profile._id.equals(climb.owner._id) || user.profile._id.equals(review.reviewer._id)) { %>
            <form action="/climbs/<%= climb._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete Review</button>
            </form>
          <% } %>
          <% if (user.profile._id.equals(review.reviewer._id)) { %>
            <a href="/climbs/<%= climb._id %>/reviews/<%= review._id %>/edit">
              <button id="edit-btn">Edit Review</button>
            </a>
          <% } %>  
    <% }) %> 
    </table>
    <% } else { %>
    <div id="noReviews">
      <h3>No Reviews On This Climb Yet</h3>
    </div>
    <% } %>
  <ul>
  </ul>
  </section>


<%- include("../partials/footer") %>