<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/climbs/index.css" />
<%- include('../partials/nav2') %>

<div id="climb-details-title">
  <h1> <%= climb.name %></h1>
</div>

<section id="climbDetail">
  <div id="climb-details-div">
    <div>Grade: <%= climb.grade %></div>
    <div>Location: <%= climb.location %></div>
    <div>Date Climbed: <%= climb.date %></div>
  <br>
  <div id="form-div">
    <form 
    action="/climbs/<%= climb._id %>/reviews"
    method = "POST"
    >
    <div id="add-review-div">
      <label for="review-box">Have you climbed <%= climb.name %>? Leave a review!</label>
      <br>
      <textarea rows="5" cols="50" name="content" type="text"></textarea>
      <button type="submit" id="add-review-btn">Add Review</button>
    </div>
    </form>
  </div>
  
  <% if (climb.reviews.length) { %>
    <table id="climb-reviews">
      <% climb.reviews.forEach(review => { %>
      <tr>
        <div id="review-content">
          <%= review.content %>
          <br>
          <br>
          by: <%= review.reviewer.name %>
          <br>
          date: <%= review.date %>  
        </div>
      </tr>
      <br>
      <div id="update-review-div">
      <% if (user.profile._id.equals(climb.owner._id) || user.profile._id.equals(review.reviewer._id)) { %>
        <form action="/climbs/<%= climb._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
          <button id="delete-btn" type="submit">Delete Review</button>
        </form>
      <% } %>
      <% if (user.profile._id.equals(review.reviewer._id)) { %>
        <a href="/climbs/<%= climb._id %>/reviews/<%= review._id %>/edit">
          <button id="edit-btn">Edit Review</button>
        </a>
      <% } %>
      </div>
    <% }) %> 
    </table>
    <% } else { %>
    <div id="noReviews">
      <h3>No Reviews On This Climb Yet</h3>
    </div>
    <% } %>
  </div>  
</section>


<%- include("../partials/footer") %>